<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Terminfindung', title='Terminabstimmung',
                  headcontent=~{:: headcontent}, navigation=~{:: navigation},
                  bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Terminabstimmung</title>
	<th:block th:fragment="headcontent">
		<!-- Links, Skripts, Styles hier einfügen! -->
	</th:block>
</head>

<body>
<header>
	<nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
		<!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
		<ul>
			<li>
				<a th:href="@{/termine2}">
					<img src="../static/img/resized/calendar_small.jpg"
					     th:src="@{/img/resized/calendar_small.jpg}">
					Termine
				</a>
			</li>
			<li>
				<a th:href="@{/termine2/umfragen}">
					<img src="../static/img/resized/survey_small.jpg"
					     th:src="@{/img/resized/survey_small.jpg}">
					Umfragen
				</a>
			</li>
		</ul>
	</nav>
</header>

<main th:fragment="bodycontent">
	<div class="container">
		<!-- Header -->
		<div class="row my-3 border-bottom">
			<h1 class="h1">Terminabstimmung</h1>
		</div>

		<div class="row">
			<div class="col">
				<!-- Termin -->
				<div class="mb-3 border-bottom">
					<div class="mb-3 p-3 bg-light rounded">
						<!-- Zusammenfassung -->
						<div class="pb-2 border-bottom">
							<div class="h3" th:text="${terminfindung.getTitel()}">Wir basteln uns eine Terminplanung
							</div>
							<div th:text="${terminfindung.getOrt()}">25.13.U1.24</div>
						</div>

						<!-- Beschreibung -->
						<div class="mt-2" style="font-size: small" th:text="${terminfindung.getBeschreibung()}">
							Floppy macaroni are assumed to be dissatisfying. Few can name a
							springtime flower that doesn't profit from rainstorms. In modern
							times, clothes were lost without the long thin bands that were
							their linen.
						</div>
					</div>
				</div>

				<!-- Wahl -->
				<div class="mb-3 border-bottom">
					<div class="d-flex justify-content-between align-items-center">
						<h2 class="h2">Zeiten</h2>

						<a th:if="${ergebnis.isFristNichtAbgelaufen()}"
						   th:href="@{/termine2/{path}/abstimmung(path=${terminfindung.link})}">
							<button class="btn btn-success">Abstimmung ändern</button>
						</a>
					</div>


					<div class="table-responsive">
						<table class="table table-sm" style="text-align: center">
							<thead>
							<tr>
								<!-- blau-gelb-rotes Farbschema für Nutzer mit Sehschwä-
									 chen: Blau und Gelb lassen sich besser unterschei-
									 den als Grün und Gelb. -->
								<th class="col bg-secondary" style="width: 5%;">
									<a class="text-white" href="" data-toggle="tooltip"
									   title="meine Antworten">m.An</a>
								</th>
								<th class="col bg-secondary" style="width: 8%;"></th>
								<th class="col bg-secondary" style="width: 15%;">Termin</th>
								<th class="col bg-secondary" style="width: 18%;"></th>
								<th class="col bg-secondary" style="width: 6%;">Ja</th>
								<th class="col bg-secondary" style="width: 6%;">
									<div class="progress" style="height: 20px;width: 20px;">
										<div class="progress-bar bg-primary "
										     role="progressbar"
										     style="width: 100%;"
										     aria-valuenow="100"
										></div>
									</div>
								</th>
								<th class="col bg-secondary" style="width: 10%;">
									<a class="text-white" href="" data-toggle="tooltip"
									   title="Vielleicht">Vlt.</a>
								</th>
								<th class="col bg-secondary" style="width: 6%;">
									<div class="progress" style="height: 20px;width: 20px;">
										<div class="progress-bar bg-warning "
										     role="progressbar"
										     style="width: 100%;"
										     aria-valuenow="100"
										></div>
									</div>
								</th>
								<th class="col bg-secondary" style="width: 6%;">Nein</th>
								<th class="col bg-secondary" style="width: 6%;">
									<div class="progress" style="height: 20px;width: 20px;">
										<div class="progress-bar bg-danger "
										     role="progressbar"
										     style="width: 100%;"
										     aria-valuenow="100"
										></div>
									</div>
								</th>
								<th class="col bg-secondary" style="width: 14%;">

								</th>

							</tr>
							</thead>
						</table>
						<details th:each="termin,terminStat: ${ergebnis.termineString}">
							<summary>
								<span class="font-weight-light text-black-50">Für Details klicken</span>
								<div class="table-responsive">
									<table class="table table-sm" style="text-align: center">
										<tbody>
										<tr>
											<!-- abwechselnd bg-white / bg-light -->
											<th class="col font-weight-bold" style="width: 2%;"
											    th:classappend="${ergebnis.getIsNutzerAntwortJa()[__${terminStat.index}__]} ? 'bg-primary text-white'
								    : ( ${ergebnis.getIsNutzerAntwortVielleicht()[__${terminStat.index}__]} ? 'bg-warning text-black-50': 'bg-danger text-white' )"

											    th:text="${ergebnis.getIsNutzerAntwortJa()[__${terminStat.index}__]} ? 'J'
								    : ( ${ergebnis.getIsNutzerAntwortVielleicht()[__${terminStat.index}__]} ? 'V': 'N' )">

											</th>
											<th class="col bg-light font-weight-bold text-black-50" th:text="${termin}"
											    style="width: 38%;">
												25.02.2084, 12:15
											</th>
											<th class="col bg-light" style="width: 48%;">
												<div class="progress" style="height: 100%">
													<div class="progress-bar bg-primary font-weight-bold"
													     role="progressbar"
													     th:style="'width:'+ ${ergebnis.getAnteilStimmenJa()[__${terminStat.index}__]} +'%;'"
													     style="width: 34%;"
													     th:attr="aria-valuenow=${ergebnis.getAnzahlStimmenJa()[__${terminStat.index}__]}"
													     aria-valuenow="34"
													     th:text="${ergebnis.getAnzahlStimmenJa()[__${terminStat.index}__]}"
													></div>
													<div class="progress-bar bg-warning font-weight-bold text-black-50"
													     role="progressbar"
													     th:style="'width:'+ ${ergebnis.getAnteilStimmenVielleicht()[__${terminStat.index}__]} +'%;'"
													     style="width: 34%;"
													     th:attr="aria-valuenow=${ergebnis.getAnzahlStimmenVielleicht()[__${terminStat.index}__]}"
													     aria-valuenow="34"
													     th:text="${ergebnis.getAnzahlStimmenVielleicht()[__${terminStat.index}__]}"
													></div>
													<div class="progress-bar bg-danger font-weight-bold "
													     role="progressbar"
													     th:style="'width:'+ ${ergebnis.getAnteilStimmenNein()[__${terminStat.index}__]} +'%;'"
													     style="width: 34%;"
													     th:attr="aria-valuenow=${ergebnis.getAnzahlStimmenNein()[__${terminStat.index}__]}"
													     aria-valuenow="34"
													     th:text="${ergebnis.getAnzahlStimmenNein()[__${terminStat.index}__]}"
													></div>
												</div>
											</th>
											<th class="col bg-light" style="width: 12%;">
											</th>
										</tr>
										</tbody>
									</table>
								</div>
							</summary>

							<div class="table-responsive">
								<table class="table table-sm" style="text-align: center">
									<thead class="bg-light">
									<tr>
										<th class="col text-black-50 font-weight-bold" style="width: 33%">Zugestimmt
										</th>
										<th class="col text-black-50 font-weight-bold" style="width: 33%">Vielleicht
										</th>
										<th class="col text-black-50 font-weight-bold" style="width: 33%">Abgesagt
										</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<th class="col text-black-50 bg-light" style="width: 33%"
										    th:text="${ergebnis.getJaAntwortPseud()[__${terminStat.index}__]}">1
										</th>
										<th class="col text-black-50 bg-white" style="width: 33%"
										    th:text="${ergebnis.getVielleichtAntwortPseudo()[__${terminStat.index}__]}">
											2
										</th>
										<th class="col text-black-50 bg-light" style="width: 33%"
										    th:text="${ergebnis.getNeinAntwortPseudo()[__${terminStat.index}__]}">1
										</th>
									</tr>
									</tbody>
								</table>
							</div>
						</details>
					</div>
					<div class="d-flex justify-content-between align-items-center">
						<span class="text-black-50">m.A. = meine Antwort</span>
					</div>
				</div>
				<br>
				<br>
				<br>
				<!-- Kommentare -->
				<div>
					<h2 class="h2">Kommentare</h2>

					<!-- Vorhandene Kommentare -->
					<div class="mb-3">
						<div class="my-3 p-3 bg-light rounded">
							<!-- Sendedaten -->
							<div class="pb-2 border-bottom">
								<div class="h4">Benjamin</div>
								<div>am [Datum, Zeit]</div>
							</div>

							<!-- Inhalt -->
							<div class="mt-2">
								A leopard of the army is assumed to be an oversized toy. A
								tragic Saturday comes with losing sleep over a napkin.
								Literature would have us believe that molten margarine is
								nothing but water.
							</div>
						</div>

						<div class="my-3 p-3 bg-light rounded">
							<!-- Sendedaten -->
							<div class="pb-2 border-bottom">
								<div class="h4">Bibi Bloxberg</div>
								<div>am [Datum, Zeit]</div>
							</div>

							<!-- Inhalt -->
							<div class="mt-2">
								The lunchbox can be turned into a tinfoil hat with some magic.
								Some antelopes are thought of as prefaces to evolution. In
								modern times an impulse is enough to change the mind of one's
								step-brother. A hottest desert is a dry segment of a coast.
							</div>
						</div>

						<div class="my-3 p-3 bg-light rounded">
							<!-- Sendedaten -->
							<div class="pb-2 border-bottom">
								<div class="h4">RNA-abhängige DNA-Polymerase</div>
								<div>am [Datum, Zeit]</div>
							</div>

							<!-- Inhalt -->
							<div class="mt-2">
								The tip of a bow can become an instrument of astrology when used
								right. We can assume that any instance of an antler can be made
								into a lightbulb. A policeman is akin to a puny god. Experts
								would have us believe that a respected cook can prepare a tasty
								meal out of cicadas.
							</div>
						</div>
					</div>

					<!-- Kommentarbox -->
					<div class="container mb-3">
						<h3 class="h3 mb-3">Verfassen</h3>

						<form method="post">
							<!-- Inhalt -->
							<div class="mb-3">
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>

							<!-- Name -->
							<div class="mb-3 form-group">
								<label for="pseudonym">Name</label>

								<input class="form-control" id="pseudonym" type="text"
								       placeholder="Benjamin"/>
							</div>

							<div style="text-align: center">
								<button class="btn btn-success">Veröffentlichen</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>

