<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Terminfindung', title='Umfrageergebnisse',
                  headcontent=~{:: headcontent}, navigation=~{:: navigation},
                  bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Umfrageergebnisse</title>
	<th:block th:fragment="headcontent">
		<!-- Links, Scripts, Styles -->
		
		<!-- jQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
		        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		        crossorigin="anonymous"></script>
		
		<!-- PopperJS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"
		        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8="
		        crossorigin="anonymous"></script>
		
		<!-- Bootstrap -->
		<link rel="stylesheet"
		      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		      crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		        crossorigin="anonymous"></script>
		
		<!-- Font Awesome -->
		<link rel="stylesheet"
		      href="/css/all.css">
		
		<style>
			.no-transition {
				-webkit-transition: height 0.01s !important;
				-moz-transition:    height 0.01s !important;
				-ms-transition:     height 0.01s !important;
				-o-transition:      height 0.01s !important;
				transition:         height 0.01s !important;
			}
		</style>
		
		<script type="text/javascript">
			$(document).ready(function () {
				$('[data-toggle="tooltip"]').tooltip();
			});
		</script>
	</th:block>
</head>

<body>
	<header>
		<nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
			<!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
			<ul>
				<li>
					<a th:href="@{/termine2}">
						<img src="../static/img/resized/calendar_small.jpg"
						     th:src="@{/img/resized/calendar_small.jpg}">
						Termine
					</a>
				</li>
				
				<li>
					<a th:href="@{/termine2/umfragen}">
						<img src="../static/img/resized/survey_small.jpg"
						     th:src="@{/img/resized/survey_small.jpg}">
						Umfragen
					</a>
				</li>
			</ul>
		</nav>
	</header>
	
	<main th:fragment="bodycontent">
		<div class="container">
			<!-- Header -->
			<div class="row mt-2 border-bottom mb-3">
				<h1 class="h1 mb-2 text-break">
					Umfrageergebnisse</h1>
			</div>
			
			<div class="row">
				<div class="col">
					<!-- Umfrage -->
					<div class="mb-3 border-bottom">
						<div class="mb-3 p-3 bg-light rounded">
							<!-- Zusammenfassung -->
							<div th:class="${umfrage.getBeschreibung() != ''
							               ? 'pb-2 border-bottom' : ''}">
								<h3 class="h3 mb-0 text-break"
								     th:text="${umfrage.getTitel()}">
									Titel</h3>
							</div>
							
							<!-- Beschreibung -->
							<div class="mt-2 text-break" style="font-size: small"
							     th:if="${umfrage.getBeschreibung() != ''}"
							     th:text="${umfrage.getBeschreibung()}">
								Beschreibung</div>
						</div>
					</div>
					
					<!-- Wahl -->
					<div class="mb-3 border-bottom">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<h2 class="h2 mb-0 text-break">
								Vorschläge</h2>
							
							<a th:if="${ergebnis.isFristNichtAbgelaufen()}"
							   th:href="@{/termine2/umfragen/{path}/abstimmung(
							                                                path=${umfrage.link})}">
								<button class="btn btn-success">
									zur Abstimmung
								</button>
							</a>
						</div>
						
						<!-- Informationen zur Frist -->
						<div class="mb-3" th:if="${ergebnis.getAnzahlAntworten() != 0}">
							Das
							
							<span th:if="${ergebnis.isFristNichtAbgelaufen()}">
								vorläufige</span>
							
							Ergebnis ist
							
							<span class="text-primary" th:text="${ergebnis.getErgebnis()}">
								ein Vorschlag</span>.
						</div>
						
						<div class="mb-3 text-warning"
						     th:if="${ergebnis.getAnzahlAntworten() == 0}">
							Niemand hat an dieser Umfrage teilgenommen.</div>
						
						<div class="table-responsive">
							<table class="table table-sm" style="text-align: center">
								<thead>
									<tr>
										<!-- eigene Antwort -->
										<th class="col bg-secondary font-weight-bold"
										    style="width: 1px"
										    th:if="${ergebnis.getNutzerAntworten().size() != 0}">
											<a data-toggle="tooltip" data-placement="bottom"
											   title="Meine Wahl">
												MW</a></th>
										
										<!-- Vorschlag -->
										<th class="col bg-secondary font-weight-bold"
										    style="width: auto">
											Vorschlag</th>
										
										<!-- Stimmmöglichkeiten -->
										<th class="col bg-secondary" style="width: 16%"
										    th:if="${ergebnis.getAnzahlAntworten() != 0}">
											<div class="progress m-1" style="height: 16px">
												<div class="progress-bar font-weight-bold"
												     style="width: 100%">
													Ja
												</div>
											</div>
										</th>
										
										<th class="col bg-secondary" style="width: 16%"
										    th:if="${ergebnis.getAnzahlAntworten() != 0}">
											<div class="progress m-1" style="height: 16px">
												<div class="progress-bar font-weight-bold bg-danger"
												     style="width: 100%">
													Nein
												</div>
											</div>
										</th>
										
										<!-- Details-Knopf -->
										<th class="col bg-secondary" style="width: 1px"
										    th:if="${ergebnis.getAnzahlAntworten() != 0}"></th>
									</tr>
								</thead>
								
								<tbody th:each="vorschlag, iter: ${ergebnis.vorschlaege}">
									<tr>
										<!-- eigene Antwort -->
										<td class="col text-white font-weight-bold"
										    style="vertical-align: middle; width: 1px"
										    rowspan="2"
										    th:if="${ergebnis.getNutzerAntworten().size() != 0}"
										    th:classappend="${ergebnis.getIsNutzerAntwortJa(
										                                        )[__${iter.index}__]
										                    ? 'bg-primary' : 'bg-danger'}">
											<a th:text="${ergebnis.getIsNutzerAntwortJa(
											                                    )[__${iter.index}__]
											            ? 'J' : 'N'}"
											   data-toggle="tooltip" data-placement="right"
											   th:title="${ergebnis.getIsNutzerAntwortJa(
											                                    )[__${iter.index}__]
											             ? 'Ja' : 'Nein'}">
												J / N</a></td>
										
										<!-- Vorschlag -->
										<td class="col text-secondary font-weight-bold text-break"
										    th:classappend="${iter.count % 2 == 1}
										                    ? 'bg-white' : 'bg-light'"
										    style="width: auto"
										    th:text="${vorschlag}">
											Vorschlag</td>
										
										<!-- Gesamtergebnis -->
										<td class="col" colspan="2"
										    th:classappend="${iter.count % 2 == 1}
										                    ? 'bg-white' : 'bg-light'"
										    th:if="${ergebnis.getAnzahlAntworten() != 0}">
											<div class="progress m-1" style="height: 16px">
												<div class="progress-bar bg-primary
												            font-weight-bold"
												     role="progressbar"
												     th:if="${ergebnis.getAnzahlStimmenJa(
												                         )[__${iter.index}__] != 0}"
												     th:style="'width: '
												               + ${ergebnis.getAnteilStimmenJa(
												                               )[__${iter.index}__]}
												               +'%'"
												     th:attr="aria-valuenow=
												              ${ergebnis.getAnzahlStimmenJa(
												                              )[__${iter.index}__]}"
												     th:text="${ergebnis.getAnzahlStimmenJa(
												                       )[__${iter.index}__]}">
												</div>
												
												<div class="progress-bar bg-danger font-weight-bold"
												     role="progressbar"
												     th:if="${ergebnis.getAnzahlStimmenNein(
												                         )[__${iter.index}__] != 0}"
												     th:style="'width: '
												               + ${ergebnis.getAnteilStimmenNein(
												                               )[__${iter.index}__]}
												               +'%'"
												     th:attr="aria-valuenow=
												              ${ergebnis.getAnzahlStimmenNein(
												                              )[__${iter.index}__]}"
												     th:text="${ergebnis.getAnzahlStimmenNein(
												                       )[__${iter.index}__]}">
												</div>
											</div>
										</td>
										
										<!-- Details-Knopf -->
										<td class="col" style="width: 1px"
										    th:classappend="${iter.count % 2 == 1}
										                    ? 'bg-white' : 'bg-light'"
										    th:if="${ergebnis.getAnzahlAntworten() != 0}">
											<div data-toggle="tooltip" data-placement="left"
											     title="Details">
												<button class="btn btn-sm btn-info
												               fa fa-chevron-down"
												        style="margin-bottom: 0.95px" type="button"
												        data-toggle="collapse"
												        th:attr="data-target=
												                 '#vorschlag' + ${iter.count}"
												        aria-expanded="false"></button>
											</div>
										</td>
									</tr>
									
									<tr style="font-size: small"
									    th:if="${ergebnis.getAnzahlAntworten() != 0}">
										<td class="col p-0"
										    th:classappend="${iter.count % 2 == 1}
										                    ? 'bg-white' : 'bg-light'"
										    colspan="4" style="width: 1px">
											<div class="collapse no-transition"
											     th:id="'vorschlag' + ${iter.count}"
											     style="padding: 0px 4.8px 0px 4.8px">
												<div class="table-responsive">
													<table class="table table-sm mb-0"
													       style="text-align: left">
														<tbody>
															<tr th:class="${iter.count % 2 == 1}
															              ? 'bg-white'
															              : 'bg-light'">
																<td class="col text-primary
																           font-weight-bold"
																    style="width: 15%">
																	Ja</td>
																
																<td class="text-secondary"
																    style="width: 85%"
																    th:text="${ergebnis
																             .getJaAntwortPseudo(
																             )[__${iter.index}__]}">
																	Studenten, die ‘Ja’ abgestimmt
																	haben</td>
															</tr>
															
															<tr th:class="${iter.count % 2 == 1}
															              ? 'bg-white'
															              : 'bg-light'">
																<td class="col text-danger
																           font-weight-bold"
																    style="width: 15%">
																	Nein</td>
																<td class="text-secondary"
																    style="width: 85%"
																    th:text="${ergebnis
																             .getNeinAntwortPseudo(
																             )[__${iter.index}__]}">
																	Studenten, die ‘Nein’ abgestimmt
																	haben</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<!-- Abstimmungsstatus -->
						<div class="alert" role="alert"
						     th:classappend="${ergebnis.isFristNichtAbgelaufen()
						                     ? 'alert-warning' : 'alert-primary'}">
							Die Abstimmung
							
							<span th:text="${ergebnis.isFristNichtAbgelaufen()
							               ? 'läuft bis zum' : 'ist am'}">
								läuft bis zum / ist am</span>
							
							<b th:text="${#temporals.format(
							            umfrage.frist, 'dd.MM.yyyy, HH:mm')}">
								Datum</b><span th:if="${! ergebnis.isFristNichtAbgelaufen()}">
								
								abgelaufen</span>.
						</div>
					</div>
					
					<!-- Kommentare -->
					<h2 class="h2">
						Kommentare</h2>
					
					<!-- Vorhandene Kommentare -->
					<div th:each="kommentar: *{kommentare}">
						<div class="mb-3">
							<div class="my-3 p-3 bg-light rounded">
								<!-- Sendedaten -->
								<div class="pb-2 border-bottom">
									<div class="h4 text-break" th:text="${kommentar.pseudonym}">
										Benjamin</div>
									
									<div>
										am
										
										<span th:text="${#temporals.format(
										               kommentar.erstellungsdatum,
										               'dd.MM.yyyy, HH:mm')}">
											Datum</span>
									</div>
								</div>
								
								<!-- Inhalt -->
								<div class="mt-2 text-break">
									<span th:text="${kommentar.inhalt}">
										Inhalt</span>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Kommentarbox -->
					<div class="container mb-3">
						<h3 class="h3 mb-3">
							Verfassen</h3>
						
						<form th:action="@{/termine2/umfragen/{path}(path=${umfrage.getLink()})}"
						      th:object="${neuerKommentar}" method="post">
							<!-- Inhalt -->
							<div class="mb-2">
								<textarea class="form-control" rows="5" id="comment"
								          th:field="*{inhalt}" maxlength="1024" required>
									Inhalt</textarea>
							</div>
							
							<!-- Absendezeile -->
							<div class="container">
								<div class="form-group row justify-content-center">
									<!-- Name -->
									<div class="col-xs-4 mx-1 mt-2">
										<input class="form-control"
										       id="pseudonym" name="pseudonym"
										       type="text" maxlength="64"
										       th:placeholder="${account.getName()}"
										       th:field="*{pseudonym}"/>
									</div>
									
									<div class="col-xs mx-1 mt-2">
										<button class="btn btn-success"
										        type="submit" name="kommentarSichern">
											Veröffentlichen</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>

