<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Terminfindung', title='Neue Umfrage',
                  headcontent=~{:: headcontent}, navigation=~{:: navigation},
                  bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Neue Umfrage</title>
	<th:block th:fragment="headcontent">
		<!-- Links, Scripts, Styles -->
		
		<!-- Bootstrap -->
		<link rel="stylesheet"
		      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		      crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		        crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		        crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		        crossorigin="anonymous"></script>
	</th:block>
</head>

<body>
	<header>
		<nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
			<!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
			<ul>
				<li>
					<a th:href="@{/termine2}">
						<img src="../static/img/resized/calendar_small.jpg"
						     th:src="@{/img/resized/calendar_small.jpg}">
						Termine
					</a>
				</li>
				
				<li>
					<a th:href="@{/termine2/umfragen}">
						<img src="../static/img/resized/survey_small.jpg"
						     th:src="@{/img/resized/survey_small.jpg}">
						Umfragen
					</a>
				</li>
			</ul>
		</nav>
	</header>
	
	<main th:fragment="bodycontent">
		<div class="container mb-3">
			<!-- Header -->
			<div class="row my-3 border-bottom">
				<h1 class="h1">Neue Umfrage</h1>
			</div>
			
			<form class="row" method="post">
				<div class="col">
					<!-- Übersicht -->
					<div class="mb-3 border-bottom">
						<div class="mb-3 form-group">
							<label for="titel">
								Titel
							</label>
							
							<input class="form-control" id="titel" name="titel" type="text"
							       required placeholder="Worum geht es?" value=""/>
						</div>
						
						<!-- Erreichbarkeit -->
						<div class="mb-3 form-group">
							<label for="erreichbarkeit">
								Erreichbarkeit
							</label>
							
							<select class="custom-select" id="erreichbarkeit"
							        th:if="${gruppen.size() == 0}" disabled>
								<option value="0" selected>Link</option>
							</select>
							
							<select class="custom-select" id="erreichbarkeit"
							        th:if="${gruppen.size() != 0}">
								<option value="0" selected>Link</option>
								
								<optgroup label="Gruppen">
									<option th:each="gruppe, iter : ${gruppen}"
									        th:value="${iter.count}"
									        th:text="${gruppe}">Gruppe</option>
								</optgroup>
							</select>
							
							<div class="mt-2 mx-4 text-secondary" style="font-size: small">
								<p class="mb-1">
									<b>Link</b>: Die Abstimmung ist für alle sichtbar, die den Link
									kennen. Der Link wird dabei automatisch vom System generiert.
								</p>
								
								<p>
									<b>Gruppe</b>: Die Abstimmung ist für alle Mitglieder der
									ausgewählten Gruppe sichtbar.
									
									<span class="text-warning" th:if="${gruppen.size() == 0}">
										Diese Option ist aber nicht verfügbar, da es im Moment keine
										Gruppenzugehörigkeit gibt.
									</span>
								</p>
							</div>
						</div>
						
						<!-- Beschreibung -->
						<div class="mb-3 form-group">
							<label class="text-secondary" for="beschreibung">
								Beschreibung (optional)
							</label>
							
							<textarea class="form-control" id="beschreibung" type="text"
							          placeholder="Gibt es Besonderheiten oder Anmerkungen?"
							          rows="4"></textarea>
						</div>
					</div>
					
					<!-- Vorschläge -->
					<div>
						<h2 class="h2">
							Vorschläge
						</h2>
						
						
						<div class="container mb-3">
							<div class="mb-2" th:each="vorschlag, iter : ${vorschlaege}">
								<input class="form-control" th:id="vorschlag+${iter.count}"
								       type="text" placeholder="Vorschlag" th:value="${vorschlag}"/>
							</div>
						</div>
					</div>
					
					<div class="row justify-content-center">
						<button class="btn btn-success" type="submit">
							Erstellen
						</button>
					</div>
				</div>
			</form>
		</div>
	</main>
</body>
</html>

