<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Terminfindung', title='Umfragenabstimmung',
                  headcontent=~{:: headcontent}, navigation=~{:: navigation},
                  bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Umfragenabstimmung</title>
	<th:block th:fragment="headcontent">
		<!-- Links, Skripts, Styles hier einfügen! -->
	</th:block>
</head>

<body>
	<header>
		<nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
			<!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
			<ul>
				<li>
					<a th:href="@{/termine2}">
						<img src="../static/img/resized/calendar_small.jpg"
						     th:src="@{/img/resized/calendar_small.jpg}">
						Termine
					</a>
				</li>
				
				<li>
					<a th:href="@{/termine2/umfragen}">
						<img src="../static/img/resized/survey_small.jpg"
						     th:src="@{/img/resized/survey_small.jpg}">
						Umfragen
					</a>
				</li>
			</ul>
		</nav>
	</header>
	
	<main th:fragment="bodycontent">
		<div class="container">
			<!-- Header -->
			<div class="row my-3 border-bottom">
				<h1 class="h1">Umfragenabstimmung</h1>
			</div>
			
			<div class="row">
				<div class="col">
					<!-- Umfrage -->
					<div class="mb-3 border-bottom">
						<div class="mb-3 p-3 bg-light rounded">
							<!-- Zusammenfassung -->
							<div class="pb-2 border-bottom">
								<div class="h3" th:text="${umfrage.getTitel()}">
									Essen bei der Praktikums-Abschluss-Party
								</div>
							</div>
							
							<!-- Beschreibung -->
							<div class="mt-2" style="font-size: small" th:text="${umfrage.getBeschreibung()}">
								Floppy macaroni are assumed to be dissatisfying. Few can name a
								springtime flower that doesn't profit from rainstorms. In modern
								times, clothes were lost without the long thin bands that were
								their linen.
							</div>
						</div>
					</div>
					
					<!-- Wahl -->
					<div class="mb-3 border-bottom">
						<div class="d-flex justify-content-between align-items-center">
							<h2 class="h2">Vorschläge</h2>
							
							<button class="btn btn-outline-warning">Zurücksetzen</button>
						</div>
						
						<form class="my-3" th:action="@{/termine2/umfragen/{path}(path=${umfrage.getLink()})}"
											th:object="${antwort}" method="post">
							<!-- falls es eine Stimmbegrenzung gibt -->
							<div class="mb-2">
								Wähle <span class="text-primary" th:text="${umfrage.maxAntwortAnzahl}">[Anzahl]</span> aus:
							</div>

							<div class="table-responsive">
								<table class="table table-sm" style="text-align: center">
									<thead>
										<tr>
											
											<th class="col-7 bg-secondary">Vorschlag</th>
											<th class="col-2 bg-primary">  Ja</th>
											<th class="col-2 bg-danger">   Nein</th>
										</tr>
									</thead>
									
									<tbody th:remove="all-but-first" th:each="vorschlag,vorschlagStat: *{vorschlaege}">
										<tr>
											<th class="col-7 bg-white"
											th:text="${vorschlag}">
											Generischer Vorschlag</th>
											<th class="col-2 table-primary">
												<input type="radio"
												       name="abstimmung1"
												       th:name="${vorschlag}"
												       th:field="${antwort.antworten[__${vorschlagStat.index}__]}"
												       value="JA"/>
											</th>
											<th class="col-2 table-danger">
												<input type="radio"
												       name="abstimmung1"
												       th:name="${vorschlag}"
												       th:field="${antwort.antworten[__${vorschlagStat.index}__]}"
												       value="NEIN"/>
											</th>
										</tr>
									
									</tbody>
								</table>
							</div>

							<div style="text-align: center">
							<input type="text" name="pseudonym" placeholder="Benjamin"
							       th:placeholder="*{getBenutzer()}"
							       th:field="${antwort.pseudonym}"
							>
							<button class="btn btn-primary" type="submit" name="sichern">Abschicken</button>
						</div>
						</form>
					</div>
					
					<!-- Kommentare -->
					<div>
						<h2 class="h2">Kommentare</h2>
						
						<!-- Vorhandene Kommentare -->
						<div class="mb-3" th:each="kommentar : *{kommentare}">
							<div class="my-3 p-3 bg-light rounded">
								<!-- Sendedaten -->
								<div class="pb-2 border-bottom">
									<h4 class="h4" th:text="${kommentar.pseudonym}">Pseudonym</h4>
									
									<div>
										am
										
										<span th:text="${#temporals.format(kommentar.erstellungsdatum,
										               'dd.MM.yyyy, HH:mm')}">
											Datum
										</span>
									</div>
								</div>
								
								<!-- Inhalt -->
								<div class="mt-2" th:text="${kommentar.inhalt}">
									Inhalt
								</div>
							</div>
						</div>
						
						<!-- Kommentarbox -->
						<div class="container mb-3">
							<h3 class="h3 mb-3">Verfassen</h3>
							
							<form th:action="@{/termine2/umfragen/{path}(path=${umfrage.getLink()})}"
							      th:object="${neuerKommentar}" method="post">
								<!-- Inhalt -->
								<div class="mb-3">
									<textarea class="form-control" rows="5" id="comment"
									          th:field="*{inhalt}" required>
										Inhalt
									</textarea>
								</div>
								
								<!-- Name -->
								<div class="mb-3 form-group">
									<label>Name</label>

									<input th:field="*{pseudonym}" class="form-control" id="pseudonym" type="text"
										   th:placeholder="${account.getName()}">
								</div>
								
								<div style="text-align: center">
									<button name="kommentarSichern" class="btn btn-success">Veröffentlichen</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>

