<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Terminfindung', title='Umfragen',
                  headcontent=~{:: headcontent}, navigation=~{:: navigation},
                  bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Umfragen</title>
	<th:block th:fragment="headcontent">
		<!-- Links, Scripts, Styles -->
		<link rel="stylesheet"
		      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		      crossorigin="anonymous">
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		        crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		        crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		        crossorigin="anonymous"></script>
	</th:block>
</head>

<body>
	<header>
		<nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
			<!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
			<ul>
				<li>
					<a th:href="@{/termine2}">
						<img src="../static/img/resized/calendar_small.jpg"
						     th:src="@{/img/resized/calendar_small.jpg}">
						Termine
					</a>
				</li>
				
				<li>
					<a th:href="@{/termine2/umfragen}">
						<img src="../static/img/resized/survey_small.jpg"
						     th:src="@{/img/resized/survey_small.jpg}">
						Umfragen
					</a>
				</li>
			</ul>
		</nav>
	</header>
	
	<main th:fragment="bodycontent">
		<div class="container my-3">
			<!-- Header mit Titel und Aktionen -->
			<div class="row d-flex justify-content-between align-items-center mb-3 border-bottom">
				<h1 class="h1">Umfragen</h1>
				
				<!-- Gruppenauswahl zur Begrenzung der angezeigten Termine -->
				<div class="btn-toolbar" style="font-size: small">
					<div class="dropdown">
						<button class="btn btn-outline-secondary dropdown-toggle mx-2"
						        data-toggle="dropdown" id="dropOperator" type="button">
							<span th:text="${umfragen.selektierteGruppe.name}">
								Gruppenname
							</span>
							
							<i><span class="text-secondary"
							         th:if="${umfragen.selektierteGruppe.id > 0}"
							         th:text="'(ID: ' + ${umfragen.selektierteGruppe.id} + ')'">
								Gruppen-ID
							</span></i>
						</button>
						
						<!-- Auswählbare Gruppen -->
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/termine2/umfragen}">
								Alle Gruppen
							</a>
							<div style="max-height:400px; max-width:300px; overflow:auto;">
								<div th:if="*{umfragen.gruppen.size() > 0}">
									<div class="dropdown-divider"></div>
								</div>
								<a class="dropdown-item" href="#" th:each="gruppe : ${umfragen.gruppen}"
								   th:href="@{/termine2/umfragen(gruppe=${gruppe.id})}">
									<span th:text="${gruppe.name}">
										Gruppenname
									</span>
									
									<i><span class="text-secondary"
									         th:text="'(ID: ' + ${gruppe.id} + ')'">
										Gruppen-ID
									</span></i>
								</a>
							</div>
						</div>
					<a th:href="@{/termine2/umfragen-neu}">
						<button class="btn btn-success">Neue Umfrage</button>
					</a>
				</div>
			</div>
			
			<!-- Meldung -->
			<div class="alert alert-success alert-dissmissible fade show"
			     th:if="${erfolg != null && erfolg != ''}">
				<span th:text="${erfolg}">
					Erfolgsmeldung
				</span>
				
				<button class="close" data-dismiss="alert">×</button>
			</div>
			
			<!-- Listen -->
			<div class="row">
				<!-- Linke Liste: Umfrageergebnisse -->
				<div class="col-md-8 order-md-1">
					<h2 class="h2">Ergebnisse</h2>
					
					<div class="text-secondary"
					     style="font-size: small"
					     th:if="*{umfragen.getAbgeschlossen().size() == 0}">
						<i>Es liegen keine Ergebnisse vor.</i>
					</div>
					
					<div class="mt-3">
						<!-- Abstimmungen aufsteigend nach dem Enddatum sortiert -->
						<div class="mt-3 p-3 bg-light rounded"
						     th:each="umfrage : ${umfragen.getAbgeschlossen()}">
							<!-- Zusammenfassung -->
							<div class="pb-2 border-bottom">
								<div class="row d-flex justify-content-between align-items-center">
									<h3 class="h3 col-auto" th:text="${#strings.abbreviate(umfrage.titel, 50)}">
										Titel der Umfrage
									</h3>
									
									<div class="col-6" style="text-align: right"
									     th:text="'vom ' + ${#temporals.format(umfrage.frist,
									              'dd.MM.yyyy, HH:mm')}">
										vom DD.MM.YYYY, HH:MM
									</div>
								</div>
								
								<div class="text-success" style="font-size: x-large"
								     th:text="${#strings.abbreviate(umfrage.umfragenErgebnis,300)}">
									Ergebnis
								</div>
								
								<!-- Gruppe, falls verfügbar -->
								<div class="mt-1 text-secondary"
								     th:if="*{umfrage.gruppeId != null}">
									für Gruppe
									
									<i><span th:text="${umfrage.gruppeId}">Gruppe</span></i>
								</div>
							</div>
							
							<!-- Beschreibung -->
							<div class="mt-2 pb-2 border-bottom" style="font-size: small"
							     th:if="${umfrage.beschreibung != null &&
							            umfrage.beschreibung != ''}"
							     th:text="${#strings.abbreviate(umfrage.beschreibung,300)}">
								Beschreibung
							</div>
							
							<!-- Weitere Aktionen -->
							<div class="mt-3" style="text-align: center">
								<form th:action="@{/termine2/umfragen}" method="post">
									<button class="btn btn-outline-info" style="font-size: small"
									        type="submit" name="details" th:value="*{umfrage.link}">
										Details
									</button>
								</form>
								
								<div class="mt-2 text-secondary" style="font-size: small">
									Link:
									
									<span class="text-info" th:text="${umfrage.link}">
										Link
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Rechte Liste: Offene Umfragen -->
				<div class="col-md-4 order-md-2">
					<h2 class="h2">Offen</h2>
					
					<div class="text-secondary"
					     style="font-size: small"
					     th:if="*{umfragen.getOffen().size() == 0}">
						<i>Es sind keine Abstimmungen offen.</i>
					</div>
					
					<div class="mt-3">
						<!-- Umfragen sollten aufsteigend nach ihrer Frist sortiert sein. -->
						<div class="mt-3 p-3 bg-light rounded"
						     th:each="offeneUmfrage : ${umfragen.getOffen()}">
							<!-- Zusammenfassung -->
							<div class="pb-2 border-bottom">
								<h3 class="h3" th:text="${#strings.abbreviate(offeneUmfrage.titel, 40)}">
									Titel der Umfrage
								</h3>
								
								<!-- Gruppe, falls verfügbar -->
								<div class="mt-1 text-secondary"
								     th:if="*{offeneUmfrage.gruppeId != null}">
									für Gruppe
									
									<i><span th:text="${offeneUmfrage.gruppeId}">Gruppe</span></i>
								</div>
							</div>
							
							<!-- Beschreibung -->
							<div class="mt-2 pb-2 border-bottom" style="font-size: small"
							     th:if="*{offeneUmfrage.beschreibung != null &&
							            offeneUmfrage.beschreibung != ''}"
							     th:text="${#strings.abbreviate(offeneUmfrage.beschreibung,135)}">
								Beschreibung
							</div>
							
							<!-- Weitere Aktionen -->
							<div class="mt-2">
								<div class="text-secondary"
								     style="font-size: small; text-align: center"
								     th:text="'offen bis ' + ${#temporals.format(offeneUmfrage.frist,
								              'dd.MM.yyyy, HH:mm')}">
									offen bis DD.MM.YYYY, HH:MM
								</div>
								
								<div class="mt-2" style="text-align: center">
									<form th:action="@{/termine2/umfragen}" method="post">
										<button class="btn" style="font-size: small" type="submit"
										        name="details"
										        th:value="*{offeneUmfrage.link}"
										        th:classappend="${offeneUmfrage.teilgenommen}
										                        ? 'btn-outline-info'
										                        : 'btn-primary'"
										        th:text="${offeneUmfrage.teilgenommen}
										                 ? 'Details' : 'Abstimmen'">
										</button>
									</form>
									
									<div class="mt-2 text-secondary" style="font-size: small">
										Link:
										
										<span class="text-info" th:text="${offeneUmfrage.link}">
											Link
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>

